@import "tailwindcss";

:root {
	--bg-gradient-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
	/* --bg-gradient-onyx-1: #2c3e50e0; */
	--bg-gradient-onyx-1: #00adb5;
	/* --bg-gradient-onyx-2: #2c3e50cc; */
	--bg-gradient-onyx-2: #eeeeee;
}

/* profile secotion style */

#profile-box {
	background-color: var(--bg-gradient-onyx-1);
}

#job-title-box {
	background-color: var(--bg-gradient-onyx-2);
}

/* contact section style */

.contact-card-container {
	display: grid;
	grid-template-columns: 4rem auto;
	column-gap: 1rem;
}

.card-img-container {
	/* border: 1px solid red; */
	grid-row: 1/3;
	grid-column: 1/2;
	width: 4rem;
	background-color: #202022;
}

.contact-mail-text {
	grid-row: 1/2;
	grid-column: 2/3;
}

.contact-mailid-text {
	grid-row: 2/3;
	grid-column: 2/3;
}

#main-c-card-box {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

#hr-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
}

#sideMenu-box {
	display: grid;
	grid-template-rows: auto auto auto auto;
	row-gap: 20px;
	width: 22rem;
	padding: 7%;
	background-color: #0b192c;
	color: white;
	border-radius: 1rem;
}

#presonal-details-box {
	display: grid;
	grid-template-rows: auto auto auto;
	justify-content: center;
	gap: 0.5rem;
}

/* smartphones */
@media screen and (min-width:320px) and (max-width: 480px) {
	#sideMenu-box {
		grid-template-columns: 35% 2% 50%;
		width: 100%;
		height: 20rem;
		justify-content: center;
		row-gap: 2rem;
		column-gap: 1rem;
	}
    #presonal-details-box{
		/* border: 1px solid red; */
		height: 10%;
		grid-template-rows: repeat(3,1fr);
        row-gap:20%;
    }
	#job-title-box{
		font-size: 13px;
	}
	#hr-box{
		flex-direction: row;
		height: 100%;
		align-items: flex-start;
	}
	#hr-box div{
		height: 100%;
	}

	.contact-card-container{
		grid-template-columns: 2rem auto;
	}

	.card-img-container{
		width: 2rem;
		height: 2rem;
	}
	.card-img-container svg{
		width: 2rem;
		padding: 1px;
	}

	#social-media-container{
		grid-row: 2/3;
		grid-column: 1/4;
	}
}

/* tables */
@media screen and (min-width:768px) and (max-width:1024px){
	#sideMenu-box {
		grid-template-columns: 45% 5% 50%;
		grid-template-rows: 50% 50%;
		width: 100%;
		height: 24rem;
		justify-content: center;
	}

	/* personal details component */
	#presonal-details-box{
		/* border: 1px solid red; */
		height: 10%;
		grid-template-rows: repeat(3,1fr);
    }

	/* vertical line component */
	#hr-box{
		/* border: 1px solid red; */
		width: 0px;
		height: 155%;
		justify-content: flex-start;
	}
	#hr-box div{
		height: 100%;
	}
	
	
	/* contact component */
	.card-img-container{
		width: 4rem;
		/* height: 3rem; */
	}
	.card-img-container svg{
		/* width: 2rem; */
		/* padding: 1px; */
	}

	#social-media-container{
		grid-row: 2/3;
		grid-column: 1/4;
	}
}